body{
    margin: 0;
    padding: 0;
}
html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 1200px;
    height: 1000px;
    background-color: #E83C91;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}
header{
    height: 80px;
    background-color: #007E6E;
}
section{
    height: auto;
    /* background-color: #FF6D1F; */
    gap: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    height: 200px;
    width: 200px;
    background-color: #8ec63b;
}
#box1{
    height: 250px;
    background-color: rgb(85, 128, 166);
}
footer{
    height: 80px;
    line-height: 80px;
    background-color: rgb(108, 54, 144);
}
