body, *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


div {
    width: 940px;
    height: 300px;
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
    border: 20px solid red;
    box-sizing: 300px;
    gap: 200px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;

}
