body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  margin: 0;
  color: #222;
}

.container {
  width: 900px;
  background: #fff;
  margin: 25px auto;
  padding: 40px;
  box-shadow: 0 0 10px #bbb;
}

header h1 {
  margin-bottom: 4px;
}

header h3 {
  margin-top: 0;
  color: gray;
  font-weight: normal;
}

.summary {
  margin: 10px 0 25px;
  line-height: 1.4;
}

.contacts {
  list-style: none;
  padding: 0;
  column-count: 3;
}

.contacts li {
  margin-bottom: 4px;
  background-color: lightskyblue;
  border: #0095b6;
}

.main {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.left {
  width: 55%;
}

.right {
  width: 45%;
}

h2 {
  color: #0095b6;
  margin-top: 25px;
  border-bottom: 2px solid #0095b6;
  display: inline-block;
  padding-bottom: 3px;
}

.company {
  color: #555;
  font-style: italic;
  margin-top: -8px;
}

ul {
  margin-top: 5px;
  padding-left: 18px;
}

.tags span {
  display: inline-block;
  background: #c5ecf4;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 4px;
}

.right ul {
  padding-left: 18px;
}

.infobox{
    border: 2px solid #0095b6;
    padding: 10px;
    margin-bottom: 20px;
  
}
